.select-days{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

@media only screen and (max-width: 400px){
.ppricetag{
display: none;
}
.select{
margin-left: -20px;
}
}